<div class="projects-container">
  <h1>
    <p>Projects</p>
  </h1>

  <div id="table" class="project-table">
    <!--div class="project" id="huffman" (click)="testFunc()">
      <div class="name">Huffman Compression Algorithm Implementation</div>
      <div class="description">Lossless data compression algorithm implementation in C</div>
    </div>
    <div class="project" id="bigint">
      <div class="name">Big Integer</div>
      <div class="description">
        Big integer arithmetic implementation in C++
      </div>
    </div>
    <div class="project" id="clearance">
      <div class="name">UCSC Clearance Badge Generator</div>
      <div class="description">
        Discord Bot that generates UCSC clearance badges with valid date/time and scannable data matrices
      </div>
    </div>
    <div class="project" id="nano">
      <div class="name">
        Nano - Haskell Subset Interpreter
      </div>
      <div class="description">
        Haskell subset interpreter that supports scoping, binding, environments and closures, type checking, type
        ineference, and polymorphism.
      </div>
    </div>
    <div input="button" class="project" id="website" onclick="location.href='#'">
      <div class="name">
        Portfolio Website
      </div>
      <div class="description">
        This website
      </div>
    </div-->

    <div id="target"></div>

    <div input="button" *ngFor="let project of projects" class="project" (click)="tileClick(project.id)">
      <a [title]="project.name + ' details'" id="project.id">
        <div class="name">
          {{ project.name }}
        </div>
        <div class="description">
          {{ project.description }}
        </div>
      </a>
    </div>


  </div>
</div>