<div class="projects-container">
  <h1>
    <p>Projects</p>
  </h1>

  <div class="project-table">
    <div class="project">
      <div class="name">Huffman Compression Algorithm Implementation</div>
      <div class="description">Lossless data compression algorithm implementation in C</div>
    </div>


    <div class="project">
      <div class="name">Big Integer</div>
      <div class="description">
        Big integer arithmetic implementation in C++
      </div>
    </div>
    <div class="project">
      <div class="name">UCSC Clearance Badge Generator</div>
      <div class="description">
        Discord Bot that generates UCSC clearance badges with valid date/time and scannable data matrices
      </div>
    </div>
    <div class="project">
      <div class="name">
        Nano- Haskell Subset Interpreter
      </div>
      <div class="description">
        Haskell subset interpreter that supports scoping, binding, environments and closures, type checking, type
        ineference, and polymorphism.
      </div>
    </div>
  </div>
</div>