.projects-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  min-height: 100vh;
  margin: auto;
  padding-bottom: 7%;
  padding-right: 2%;
  padding-right: 2%;
  //border: 1px solid var(--accent-dark);
  //box-shadow: 1px 1px 1px var(--accent-dark);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  width: 90%;
  border-radius: 25px;
  font-family: "Roboto Slab", serif;
  gap: 25px;
  h1 {
    text-align: center;
    font-size: 10vh;
    color: var(--accent-dark);
    margin-top: 0px;
    padding-top: 0px;
  }
  .project-table {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    row-gap: 10vh;
    .project {
      display: flex;
      flex-direction: column;
      background-color: var(--accent-tile);
      width: 25%;
      min-height: 100px;
      margin: auto;
      padding: 15px;
      border-radius: 15px;
      padding-left: 20px;
      gap: 15px;
      box-shadow: 0.2vw 0.2vh var(--accent-dark);
      user-select: None;
      cursor: pointer;
      .name {
        color: var(--accent-dark);
        font-weight: 400;
      }
      .description {
        color: var(--accent-bright);
        font-weight: 300;
      }
    }

    .project:hover {
      transform: translate(-0.1vw, -0.1vh);
      box-shadow: 0.3vw 0.3vh var(--accent-dark);
      transition: all 0.2s ease-in-out;
    }
    .project:hover:active {
      transform: translate(0.2vw, 0.2vh);
      box-shadow: 0vw 0vh var(--accent-dark);
      transition: all 0.05s linear;
    }
  }

  @media screen and (max-width: 768px) {
    .h1 {
      padding-bottom: 0px;
    }
    .project-table {
      flex-direction: column;
      padding: None;
      margin: auto;
      row-gap: 20px;

      .project {
        width: 50%;
        -webkit-tap-highlight-color: transparent;
      }
    }
  }
}
