<div class="landing-container">
  <div id="text" class="main-text">
    <div id="highlight"></div>
    <div class=tracking-in-expand>Minsuk Song</div>
  </div>

  <div class="about">
    <div class="body-container">
      <div class="about-me">
        <div class="subheading">
          About me
        </div>

        <ul>
          <li>3rd year CS Major</li>
          <li>Tech4Good UI Components Lead</li>
          <li>Tech4Good Containers member</li>
          <li>Undergraduate Research asistant for 3D faces lab</li>
          <li>CIDER Drone Pilot Trainee </li>
        </ul>

      </div>
      <div class="classes">
        <div class="subheading">
          Winter 2023 Classes
        </div>
        <ul>
          <li>
            CSE 130
          </li>
          <li>
            CMPM 118
          </li>
          <li>
            Independent Study - 5 credits
          </li>
          <li>
            Independent Study - 2 credits
          </li>
          <li>
            LING 50
          </li>
        </ul>
      </div>
    </div>
  </div>