.main-container {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  margin: 0px;
  padding: 0px;
  row-gap: 50px;

  a {
    text-decoration: None;
  }
  a:visited {
    text-decoration: None;
  }
  a:hover {
    text-decoration: None;
  }
  a:focus {
    text-decoration: None;
  }
  a:focus,
  a:hover {
    text-decoration: None;
  }

  nav {
    display: flex;
    //justify-content: space-evenly;
    //justify-content: center;
    width: 100%;
    border-bottom: 1px solid var(--line);
    font-family: "Roboto Slab", serif;
    font-size: 20px;
  }

  nav > .nav-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 1rem;
    gap: 1rem;
    border-left: 1px solid var(--line);
    flex-basis: calc(100% / 3);

    a {
      color: var(--accent-bright);
      display: flex;
      text-decoration: None;
      p {
        margin: 10px;
      }
    }
  }
  #resume {
    border-left: None;
  }
  #contact {
    justify-content: center;
  }

  .divider {
    height: 100vh;
    border-bottom: 1px solid var(--line);
  }
  .line {
    height: 10vh;
    border-bottom: 1px solid var(--line);
  }

  @media screen and (max-width: 768px) {
    nav {
      flex-direction: column;
      //border-bottom: 1px solid var(--line);
    }

    nav > nav.section {
      border-bottom: 1px solid var(--line);
    }

    #resume {
      border-left: none;
      border-bottom: 1px solid var(--line);
    }
    #contact {
      border-left: none;
    }
    #projects {
      border-left: none;
      border-bottom: 1px solid var(--line);
    }
  }
}
