.main-container {
  display: flex;
  flex-direction: column;
  background-color: #070c34;
  margin: 0px;
  padding: 0px;
  row-gap: 50px;

  a {
    text-decoration: None;
  }
  a:visited {
    text-decoration: None;
  }
  a:hover {
    text-decoration: None;
  }
  a:focus {
    text-decoration: None;
  }
  a:focus,
  a:hover {
    text-decoration: None;
  }

  nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    border-bottom: 1px solid rgb(255, 255, 255, 0.1);
    background-color: #101d80;
    font-family: "Roboto Slab", serif;
    font-size: 20px;
  }

  nav > .nav-section {
    display: flex;
    align-items: center;
    padding: 1rem 1rem;
    gap: 1rem;

    a {
      display: flex;
      text-decoration: None;
      p {
        margin: 10px;
      }
    }
  }
  #contact {
    margin-left: 15%;
  }
  .divider {
    height: 500px;
    border-bottom: 1px solid rgb(255, 255, 255, 0.1);
  }
}
